body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

h1{
	font-family: "Courier new", serif;
	font-weight: bold;
	color:darkgoldenrod;
}

h2{
	font-family: "Courier new", sans-serif;
	color: darkorange;
	font-weight: bold;
}



#MainName, #MainIntro{
	text-align: center;
}




